body {
    background-color: dimgray;
    color: white;
}

.main {
    display: flex;
    flex-direction: row;

}

.main__input {
    flex-grow: 1;
}


input {
    border: dashed 1px blue;
    width: 90%;

}

textarea {
    border: dashed 1px blue;
    width: 90%;

}

button {
    background-color: aqua;
    flex-shrink: 0;
}

.main__output {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#userdata {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#chat__avatar {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}